

.container{
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
}
.container section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container article{
  width: 90vw;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.container h2{
  text-align: center;
}
.container h3{
  text-align: center;
}