.container {
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  background: #fff;
  display: flex;
  gap: 400px;
  padding: 10px 150px;
  box-shadow: 0 0 10px #5d3a6f;
  z-index: 20;
}
.logocontainer {
  display: flex;
  align-items: center;
}
.logo {
  font-size: 24px;
  font-weight: bold;
  color: #5d3a6f;
  text-decoration: none;
}
.list {
  list-style-type: none;
  display: flex;
  gap: 12px;
  justify-content: center;
  align-items: center;
  position: relative;
}
.items {
  margin-right: 20px;
  font-size: 24px;
  color: #5d3a6f;
  cursor: pointer;
  text-decoration: none;
}
.items:hover {
  color: orange;
}
.span {
  color: orange;
}

.btn {
  display: none;
  position: absolute;
  right: 15px;
  top: 7px;
  padding: 5px;
  margin-right: 40px;
  font-size: 18px;
  background-color: white;
  border: 1px solid #5d3a6f;
}

@media screen and (max-width: 512px) {
  .list {
    position: absolute;
    flex-direction: column;
    gap: 5px;
    height: auto;
    background-color: white;
    width: 90%;
    margin-top: 55px;
    left: 0;
  }
  .items:nth-child(1) {
    border-top: 1px solid rgba(255, 255, 255, 0.555);
  }
  .items {
    width: 100%;
    border-top: 1px solid rgba(255, 255, 255, 0.555);
    text-align: center;
    margin-right: 0px;
    padding: 20px 0;
  }
  .container {
    padding: 5px 15px;
  }
  .btn {
    display: block;
  }
}
